a:hover{
    padding: 0.1em;
    background-color: grey;
    color: white;
}
footer{
    border-top: ridge grey;
    text-align: center;
    color: rgb(56, 56, 56);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.title {
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 40pt;
    font-weight: 900;
    color: rgb(56, 56, 56);
    border-bottom: ridge grey;
}
.colomawal{
    padding: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.head{
    text-align: center;
    font-size: 27pt;
    font-weight: 900;
    color: rgb(56, 56, 56);
}
.subhead{
    font-size: 20pt;
    font-weight: lighter;
}
.awal{
    margin: 0 auto;
    text-align: center;
    border-bottom: ridge grey;
}
.subjektif, #container1, #container2, #container3, #container6, #container10 {
    width: 100%;
    border-style: solid;
    border-color: rgb(56, 56, 56);
}
#container5, #container4, #container7, #container8 {
    width: 49%;
    float: left;
    border-style: solid;
    border-color: rgb(56, 56, 56);
}
#container9{
    width: 50%;
}
#container10{
    height: 1000px;
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 700px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-series-hover path {
    stroke: rgb(255, 66, 66);
    stroke-width: 2px;
}
body {
    font-family: sans-serif;
    font-size: 16px;
    width: 960px;
    margin: 1em auto;
    position: relative;
    background-image: linear-gradient(to right, lightgray, white, white, white, lightgray);
}

h1,
h2,
.dimension text {
    text-align: center;
    font-family: "PT Sans", Helvetica;
    font-weight: 300;
}

h1 {
    font-size: 4em;
    margin: .5em 0 0 0;
}

h2 {
    font-size: 2em;
    margin: 1em 0 0.5em;
    border-bottom: solid #ccc 1px;
}

p.meta,
p.footer {
    font-size: 13px;
    color: #333;
}

p.meta {
    text-align: center;
}

text.icicle {
    pointer-events: none;
}

.options {
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
}

.curves {
    float: left;
}

.source {
    float: right;
}

pre,
code {
    font-family: "Menlo", monospace;
}

.html .value,
.javascript .string,
.javascript .regexp {
    color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
    color: #3182bd;
}

.comment {
    color: #636363;
}

.html .doctype,
.javascript .number {
    color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
    color: #e6550d;
}